.Rproj.user
.Rhistory
.RData
.DSStore
.DS_Store
.idea
.vscode
*.code-workspace
*.Rproj
*.sublime-project
*.sublime-workspace
.keys
bower_components
node_modules
browser
.tmp
theSrc/internal_www/scratch.html
__diff_output__
new_snapshots