
body {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-around;
}

.test-cases-container {
}

.test-plan-group-container {
    padding: 20px;
}

test-plan-group-name {
    /*clear: both;*/
}

.test-definition-container {
    display: inline-block;
    /*border: solid 4px lightblue;*/
    /*border-radius: 4px;*/
    /*padding: 10px;*/
    /*margin: 10px;*/
    /*position: relative;*/
    /*min-height: 60px;*/
}

.test-definition-container .load-link {
}

.test-definition-toggle:before {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}

.test-definition-toggle.collapsed:before {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.test-definition {
    max-width: 350px;
    max-height: 200px;
}

.test-definition pre {
    font-size: 8px;
}

li.test-case  {
    font-size: 20px;
}

li.test-case a {
    font-size: 14px;
}

.test-case.status-red {
    color: red;
}

.test-case.status-yellow {
    color: yellow;
}